[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
pytest = "*"
pytest-cov = "*"
plotly = "*"
seaborn = "*"
streamlit = "*"
altair = "*"
streamlit-dynamic-filters = "*"

[dev-packages]

[requires]
python_version = "3.11"
